
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
    border: 0.1px solid black;
}

#errors {
    color: coral;
    font-size: 24px;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 255, 235);
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 255, 235);
}

.number-selected {
    background-color: rgb(245, 247, 162);
}

.tile-start {
    background-color: rgb(253, 255, 199);
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#timer-container {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 13px;
}

.tilb{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 13px;
    padding: 10px 30px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #fefbd0;
    border: 1px solid #fcf113;
    border-radius: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.tilb:hover{
    background-color: #fef7b6;
    transform: scale(1.05);
}

img{
    width: 125px; 
    height: auto;
}

.egg1{
    rotate: 5deg;
    position: absolute;
    top: 35%;
    right: 190px;
}

.egg2{
    rotate: -15deg;
    position: absolute;
    top: 45%;
    right: 240px;
}

.egg3{
    rotate: 15deg;
    position: absolute;
    top: 48%;
    right: 140px;
}

.kurv{
    rotate: -5deg;
    position: absolute;
    top: 40%;
    left: 100px;
}

.hare{
    rotate: -45deg;
    position: absolute;
    top: 75px;
    left: 360px;
    z-index: -1;
}

.retry-button{
    position: absolute;
    top: 97px;
    left: 58%;
    font-size: 15px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(214, 235, 196);
    border: 1px solid rgb(182, 208, 159);
    border-radius: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.retry-button:hover{
    background-color: rgb(182, 208, 159);
    transform: scale(1.05);
}